.wrapper {
	width: 600px;
	margin: 0 auto;
}

#slider {
	height: 400px;
	width: 600px;
	overflow: hidden; /* ukrywa pozostałe zdjecia */
	margin: 30px auto;
}

#slider > img {
	width: 600px;
	height: 400px;
	float: left;
	display: hidden;
}

a {
	padding: 5px 10px;
	background-color: #F0F0F0;
	margin-top: 30px;
	text-decoration: none;
	color: black;
}

a.left {
	float: left;
}

a.right {
	float: right;
}